* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.form-label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 220px;
  padding: 0.5rem;
}

.form-select {
  width: 220px;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}